$color-text-white: #ffffff;
$color-text-black: #000000;
$gap: 32px;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #000915;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 624px);
    padding-right: calc(50% - 624px);
    margin-left: 24px;
    margin-right: 24px;
}

.top {
    background-image: url(img/bg_top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &-content {
        padding-top: 217px;
        padding-bottom: 493px;
        &-title {
            color: $color-text-white;
            font-size: 64px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
        &-text {
            color: $color-text-white;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            margin-top: 32px;
            line-height: 32px;
        }
        .button {
            color: #FFF;
            font-family: 'Montserrat', sans-serif;;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            border-radius: 30px;
            border: 0px;
            background: #9C0332;
            margin-top: 44px;
            transition: 0.3s;
            padding: 13px 74px;
        }
        .button:hover {
            transform: scale(1.05);
        }
    }
}
.main {
    .section {
        .for {
            display: flex;
            gap: $gap;
            padding: 128px 0;
            &-item {
                display: flex;
                align-items: end;
                width: 100%;
                height: 300px - $gap;
                border: 0px;
                border-radius: 16px;
                color: $color-text-white;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px;
                padding: $gap;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                transition: 0.3s;
            }
            &-item:hover {
                transform: scale(1.05);
            }
            &-item-1 {
                background-image: url(img/f_item_1.jpg);                
            }
            &-item-2 {
                background-image: url(img/f_item_2.jpg);
            }
            &-item-3 {
                background-image: url(img/f_item_3.jpg);
            }
        }
    }
        
}
.footer {
    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        &-text {
            color: $color-text-white;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: $gap 0;
        }
    }
}